<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.DaRuleProjectDao">

    <resultMap type="com.yh.entity.DaRuleProject" id="DaRuleProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="productCode" column="product_code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="attribName" column="attrib_name" jdbcType="VARCHAR"/>
        <result property="valType" column="val_type" jdbcType="VARCHAR"/>
        <result property="uiType" column="ui_type" jdbcType="VARCHAR"/>
        <result property="defVal" column="def_val" jdbcType="VARCHAR"/>
        <result property="form" column="form" jdbcType="VARCHAR"/>
        <result property="selectList" column="select_list" jdbcType="VARCHAR"/>
        <result property="tenantCode" column="tenant_code" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="DaRuleProjectMap">
        select
          id, product_code, name, attrib_name, val_type, ui_type, def_val, form, select_list, tenant_code, is_delete, created_by, updated_by, created_time, updated_time
        from o2o_support_idaas.da_rule_project
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DaRuleProjectMap">
        select
          id, product_code, name, attrib_name, val_type, ui_type, def_val, form, select_list, tenant_code, is_delete, created_by, updated_by, created_time, updated_time
        from o2o_support_idaas.da_rule_project
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="DaRuleProjectMap">
        select
        id, product_code, name, attrib_name, val_type, ui_type, def_val, form, select_list, tenant_code, is_delete,
        created_by, updated_by, created_time, updated_time
        from o2o_support_idaas.da_rule_project
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="productCode != null and productCode != ''">
                and product_code = #{productCode}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="attribName != null and attribName != ''">
                and attrib_name = #{attribName}
            </if>
            <if test="valType != null and valType != ''">
                and val_type = #{valType}
            </if>
            <if test="uiType != null and uiType != ''">
                and ui_type = #{uiType}
            </if>
            <if test="defVal != null and defVal != ''">
                and def_val = #{defVal}
            </if>
            <if test="form != null and form != ''">
                and form = #{form}
            </if>
            <if test="selectList != null and selectList != ''">
                and select_list = #{selectList}
            </if>
            <if test="tenantCode != null and tenantCode != ''">
                and tenant_code = #{tenantCode}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                and updated_by = #{updatedBy}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into o2o_support_idaas.da_rule_project(product_code, name, attrib_name, val_type, ui_type, def_val, form, select_list, tenant_code, is_delete, created_by, updated_by, created_time, updated_time)
        values (#{productCode}, #{name}, #{attribName}, #{valType}, #{uiType}, #{defVal}, #{form}, #{selectList}, #{tenantCode}, #{isDelete}, #{createdBy}, #{updatedBy}, #{createdTime}, #{updatedTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into o2o_support_idaas.da_rule_project(product_code, name, attrib_name, val_type, ui_type, def_val, form,
        select_list, tenant_code, is_delete, created_by, updated_by, created_time, updated_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.productCode}, #{entity.name}, #{entity.attribName}, #{entity.valType}, #{entity.uiType},
            #{entity.defVal}, #{entity.form}, #{entity.selectList}, #{entity.tenantCode}, #{entity.isDelete},
            #{entity.createdBy}, #{entity.updatedBy}, #{entity.createdTime}, #{entity.updatedTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into o2o_support_idaas.da_rule_project(product_code, name, attrib_name, val_type, ui_type, def_val, form,
        select_list, tenant_code, is_delete, created_by, updated_by, created_time, updated_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.productCode}, #{entity.name}, #{entity.attribName}, #{entity.valType}, #{entity.uiType},
            #{entity.defVal}, #{entity.form}, #{entity.selectList}, #{entity.tenantCode}, #{entity.isDelete},
            #{entity.createdBy}, #{entity.updatedBy}, #{entity.createdTime}, #{entity.updatedTime})
        </foreach>
        on duplicate key update
        product_code = values(product_code) , name = values(name) , attrib_name = values(attrib_name) , val_type =
        values(val_type) , ui_type = values(ui_type) , def_val = values(def_val) , form = values(form) , select_list =
        values(select_list) , tenant_code = values(tenant_code) , is_delete = values(is_delete) , created_by =
        values(created_by) , updated_by = values(updated_by) , created_time = values(created_time) , updated_time =
        values(updated_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update o2o_support_idaas.da_rule_project
        <set>
            <if test="productCode != null and productCode != ''">
                product_code = #{productCode},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="attribName != null and attribName != ''">
                attrib_name = #{attribName},
            </if>
            <if test="valType != null and valType != ''">
                val_type = #{valType},
            </if>
            <if test="uiType != null and uiType != ''">
                ui_type = #{uiType},
            </if>
            <if test="defVal != null and defVal != ''">
                def_val = #{defVal},
            </if>
            <if test="form != null and form != ''">
                form = #{form},
            </if>
            <if test="selectList != null and selectList != ''">
                select_list = #{selectList},
            </if>
            <if test="tenantCode != null and tenantCode != ''">
                tenant_code = #{tenantCode},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from o2o_support_idaas.da_rule_project where id = #{id}
    </delete>

</mapper>