<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.MenuInfoDao">

    <resultMap type="com.yh.entity.MenuInfo" id="MenuInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="displayUrl" column="display_url" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="rank" column="rank" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="outMenuId" column="out_menu_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MenuInfoMap">
        select
          id, type, parent_id, code, name, display_url, level, rank, is_delete, created_time, updated_time, created_by, updated_by, business_type, status, out_menu_id
        from menu_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MenuInfoMap">
        select
          id, type, parent_id, code, name, display_url, level, rank, is_delete, created_time, updated_time, created_by, updated_by, business_type, status, out_menu_id
        from menu_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MenuInfoMap">
        select
        id,
        type,
        parent_id,
        code,
        name,
        display_url,
        level,
        rank,
        is_delete,
        created_time,
        updated_time,
        created_by,
        updated_by,
        business_type,
        status,
        out_menu_id
        from menu_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="displayUrl != null and displayUrl != ''">
                and display_url = #{displayUrl}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="rank != null">
                and rank = #{rank}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                and updated_by = #{updatedBy}
            </if>
            <if test="businessType != null and businessType != ''">
                and business_type = #{businessType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="outMenuId != null">
                and out_menu_id = #{outMenuId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into menu_info(type, parent_id, code, name, display_url, level, rank, is_delete, created_time, updated_time, created_by, updated_by, business_type, status, out_menu_id)
        values (#{type}, #{parentId}, #{code}, #{name}, #{displayUrl}, #{level}, #{rank}, #{isDelete}, #{createdTime}, #{updatedTime}, #{createdBy}, #{updatedBy}, #{businessType}, #{status}, #{outMenuId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into menu_info(type, parent_id, code, name, display_url, level, rank, is_delete,
        created_time, updated_time, created_by, updated_by, business_type, status, out_menu_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.parentId}, #{entity.code}, #{entity.name}, #{entity.displayUrl}, #{entity.level},
            #{entity.rank}, #{entity.isDelete}, #{entity.createdTime}, #{entity.updatedTime}, #{entity.createdBy},
            #{entity.updatedBy}, #{entity.businessType}, #{entity.status}, #{entity.outMenuId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into menu_info(type, parent_id, code, name, display_url, level, rank, is_delete,
        created_time, updated_time, created_by, updated_by, business_type, status, out_menu_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.parentId}, #{entity.code}, #{entity.name}, #{entity.displayUrl}, #{entity.level},
            #{entity.rank}, #{entity.isDelete}, #{entity.createdTime}, #{entity.updatedTime}, #{entity.createdBy},
            #{entity.updatedBy}, #{entity.businessType}, #{entity.status}, #{entity.outMenuId})
        </foreach>
        on duplicate key update
        type = values(type) , parent_id = values(parent_id) , code = values(code) , name = values(name) , display_url =
        values(display_url) , level = values(level) , rank = values(rank) , is_delete = values(is_delete) , created_time
        = values(created_time) , updated_time = values(updated_time) , created_by = values(created_by) , updated_by =
        values(updated_by) , business_type = values(business_type) , status = values(status) , out_menu_id =
        values(out_menu_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update menu_info
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="displayUrl != null and displayUrl != ''">
                display_url = #{displayUrl},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="rank != null">
                rank = #{rank},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="createdBy != null and createdBy != ''">
                created_by = #{createdBy},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy},
            </if>
            <if test="businessType != null and businessType != ''">
                business_type = #{businessType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="outMenuId != null">
                out_menu_id = #{outMenuId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from menu_info where id = #{id}
    </delete>

    <select id="findCountMenus" resultType="integer">
        select id from menu_info
        where 1 = 1 /*and is_delete = 0*/
    </select>

    <select id="findMenuBetweenIds" resultMap="MenuInfoMap">
        select
        id,
        type,
        parent_id,
        code,
        name,
        display_url,
        level,
        rank,
        is_delete,
        created_time,
        updated_time,
        created_by,
        updated_by,
        business_type,
        status,
        out_menu_id
        from menu_info
        where 1 = 1 /*and is_delete = 0*/
        and id &gt;= #{min} and id &lt;= #{max}
    </select>

    <select id="findMenuPage" resultMap="MenuInfoMap">
        select
        id,
        type,
        parent_id,
        code,
        name,
        display_url,
        level,
        rank,
        is_delete,
        created_time,
        updated_time,
        created_by,
        updated_by,
        business_type,
        status,
        out_menu_id
        from yh_srm_usercenter_test.menu_info
        where 1 = 1 /*and is_delete = 0*/
        limit #{offset},#{num}
    </select>



</mapper>